[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
accelerate = "==1.4.0"
datasets = "==3.3.2"
nltk = "==3.9.1"
numpy = "==2.2.3"
pandas = "==2.2.3"
scikit-learn = "==1.6.1"
torch = "==2.6.0"
transformers = "==4.49.0"
flask = "==3.1.0"


[dev-packages]
pytest = "==8.3.4"
pytest-cov = "==6.0.0"
pytest-mock = "==3.14.0"

[requires]
python_version = "3.11"
